doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title klack
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet')
  link(rel='stylesheet' type='text/css' media='screen' href='main.css')
#userpane
  h1 klack
  #users
#mainpane
  #messageslist
    #messageheader
      | This is the very beginning of the conversation.
  textarea#newmessage(rows='3' cols='80' placeholder='Type your message here' autofocus='')
script(src='main.js')
